@import "variables";

form {
  .ng-messages {
    color: $error
  }
}

.spinner ~ .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}