<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-left">
        <img class="img-responsive center-block" src='assets/images/Logo.png' style="height: 60px;">        
      </a>

      <a class="navbar-brand">
      <i>Hoy Como</i>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a style="font-size: 16px; font-weight: 700;" class="dropdown-toggle" data-toggle="dropdown" role="button"
             aria-haspopup="true" aria-expanded="false">Opciones<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!--<li><a style="font-size: 14px; font-weight: 500; color: #777;" class="btn" href="#" ng-click="vm.goToPasses()">Historial de actividades</a></li>
            <li><a style="font-size: 14px; font-weight: 500; color: #777;" class="btn" href="#" ng-click="vm.goToPurchases()">Historial de suplementos</a></li>-->
            <li><a ng-click="vm.editComercioInfo()" class="btn btn-navbar">Editar informacion</a></li>
            <li role="separator" class="divider"></li>
            <li><a style="font-size: 14px; font-weight: 500; color: #777;" class="btn" href="#" ng-click="mainController.logout()">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#">Platos</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="vm.editComercioInfo()" class="btn btn-navbar">Editar informacion</a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="container" style="padding-top: 30px;">
    <div >
        <div class="panel-body">
                <form name="signup" class="register-form" ng-submit="vm.updateComercio()" role="form" style="display: block;" novalidate>
                  <div class="row"  style="margin-top: 15px;">
                  <!--  <div class="col-lg-4">
                    <input type="text" name="email" id="email" tabindex="3" class="form-control" placeholder="email" ng-model="vm.comercio.email" required>
                  </div>
                  <div class="col-lg-4">
                    <input type="text" name="nombre" id="nombre" tabindex="3" class="form-control" placeholder="Nombre" ng-model="vm.comercio.nombre" required>
                  </div>-->
                  <div class="col-lg-4">
                    <select id="UserSelector" ng-model="vm.comercio.tipo" style="width: 100%;">
                      <option value="">--Select --</option>
                      <option ng-repeat="type in vm.types" ng-selected="vm.comercio.tipo == type.id" value="{{type.id}}">{{type.tipo}}</option>
                    </select>
                  </div>
                </div>
                <!--<div class="row"  style="margin-top: 15px;">
                  <div class="col-lg-4">
                  <input type="text" name="razonSocial" id="razonSocial" tabindex="3" class="form-control" placeholder="Razón Social" ng-model="vm.comercio.razonSocial" required>
                </div>
                <div class="col-lg-4">
                  <input type="text" name="direccion" id="direccion" tabindex="3" class="form-control" placeholder="Dirección" ng-model="vm.comercio.addressDto.street" required>
                </div>
                <div class="col-lg-4">
                    <input type="text" name="postalCode" id="postalCode" tabindex="3" class="form-control" placeholder="Código Postal" ng-model="vm.comercio.addressDto.postalCode" required>
                </div>
              </div>
              <div class="row"  style="margin-top: 15px;">
                <div class="col-lg-4">
                    <input type="text" name="floor" id="floor" tabindex="3" class="form-control" placeholder="Piso" ng-model="vm.comercio.addressDto.floor" required>
              </div>
              <div class="col-lg-4">
                  <input type="text" name="department" id="department" tabindex="3" class="form-control" placeholder="Departamento" ng-model="vm.comercio.addressDto.department" required>
              </div>
            </div>-->
                  <div class="form-group">
                    <div class="row"  style="margin-top: 15px;">
                      <div class="col-xs-6">
                        <input type="submit"
                               name="register-submit"
                               id="register-submit"
                               tabindex="5"
                               class="form-control btn btn-login"
                               value="Actualizar">
                      </div>
                      <div class="col-xs-6">
                        <a ng-click="vm.goBack()" class="form-control btn btn-login">Volver</a>
                      </div>
                    </div>
                  </div>
                </form>
          </div>
          </div>
        </div>